header {
    background-color: $dark;
    padding: 10px;
    font-family: "Dancing Script";
    color: $secondary;
    display: flex;
    align-content: center;
}
.sass_logo {
    height: 40px;
    width: 60px;
}