header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: "Dancing Script";
    background-color: $dark;
    color: $secondary;
    div {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    ul {
        margin: 0;
        list-style-type: none;
        align-content: center;
        margin-left: auto;
        li {
            display: inline-block;
            }
        }
    }

.sass_logo {
    height: 40px;
    width: 60px;
}