body {
    background-image: linear-gradient(rgb(221, 26, 26), rgb(99, 2, 99));
    height: 100vh;
}

.flex {
    display: flex;
    justify-content: center;
    padding: 7px;
}

.cover {
    width: 200px;
    height: 200px;
    background-color: wheat;
    background-size: cover;
}

.cv1 {
    background-image: url("../assets/images/cover1.jpeg");
}

.cv2 {
    background-image: url("../assets/images/cover2.jpeg");
}

.cv3 {
    background-image: url("../assets/images/cover3.jpeg");
}

